:root {
    --cinza_secundario: #667085;
    --azul-cabecalho: #3A404E;
    --preto-titulo: #101828;
    --marrom-terciario: #8E2424;
}

body {
    font-family: 'Inter', sans-serif;
    margin:0;
    
}
header{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:"cabecalho-imagem cabecalho-links cabecalho-botao";
    align-items:center;
}

.cabecalho__primeiro-componente{
   grid-area:cabecalho-imagem;
   display:grid;
   grid-template-columns: auto 1fr;
   align-items:center;
   justify-self:center;
}

.cabecalho__titulo {
    color:var(--azul-cabecalho);
    font-weight:500;
}

.cabecalho__segundo-componente {
    grid-area: cabecalho-links;
}

.cabecalho__link {
    margin: auto 16px;
    text-decoration: none;
    color: var(--cinza_secundario);
    font-size:20px;
    transition:2s;
}

.cabecalho__link:hover{
    color:var(--preto-titulo)
}

.cabecalho__links{
    justify-content:center;
}
.cabecalho__botoes {
    grid-area: cabecalho-botao;
    justify-self:center;
}

.cabecalho__botao {
    text-decoration: none;
    font-size: 20px;
    margin: auto 10px;
}

.cabecalho__botao-login {
    color:var(--cinza_secundario);
    transition:2s;
}

.cabecalho__botao-login:hover {
   color:var(--preto-titulo)
}

.cabecalho__botao-cadastro {
    background-color: #8E2424;
    color: white;
    border-radius: 14px;
    padding: 12px 16px;
    transition:2s;
}

.cabecalho__botao-cadastro:hover {
        background-color: #CF2424;
 }


.sobre__nos {
    align-items: center;
    margin: 4em 20em;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.sobre__nos-primeiro{
    font-size:16px;
    color:var(--marrom-terciario);
    font-weight:600;
}

.sobre__nos-segundo{
    font-size:48px;
    color:var(--preto-titulo);
}

.sobre__nos-terceiro {
    font-size: 20px;
    color: var(--cinza_secundario);
    font-weight: 300;
    margin: 0 16px;
}



.metricas{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin:16px 8em;
}

.metricas__numeros{
    color:var(--marrom-terciario);
    font-size:60px;
    font-weight:600;
    margin: 8px auto;
}

.metricas__titulo{
    color:var(--preto-titulo);
    font-size:18px;
    font-weight:500;
}

.metricas__texto{
    color:var(--cinza_secundario);
    font-weight:400;
    font-size:16px;
}

.procura__talentos{
 display:flex;
 flex-direction:column;
 align-items:center;
 margin: 6em 2em 4em;

}

.procura__talentos-primeiro {
    background-color: rgba(142,36,36,.1);
    color:var(--marrom-terciario);
    margin-bottom:0px;
    font-weight:500;
    border-radius:16px;
    padding:7px 9px;
    font-size:14px
}


.procura__talentos-segundo{
    color:var(--preto-titulo);
    font-size:36px;
    font-weight:600;
  


}
.procura__talentos-terceiro{
    font-size:20px;
    font-weight:500;
    color:var(--cinza_secundario);
    margin-bottom:3em;
    margin-top:0px;
}

.procura__talentos-quarto{


}

.ofertas{
    margin:2em 20em;
}

.ofertas__container {
    border: 1px solid #EAECF0;
    border-radius:16px;
    margin: 2em 0;
    padding:10px 24px;
}

.ofertas__titulo {
    font-weight: 500;
    color: var(--preto-titulo);
    font-size: 20px;
}

.ofertas__texto-primario{
    font-weight:500;
    color:var(--preto-titulo);
    font-size:18px;
}

.ofertas__texto-secundario{
    color:var(--cinza_secundario);
    font-weight:500;
    font-size:16px;
    display:inline-block;
    margin-right:1em;
}

.colaboradores {
    background-color: rgba(195,25,25,.1);
    text-align: center;
    margin: 3em 6em;
    border-radius:15px;
    padding: 20px 6px;
}

.colaboradores__primeiro{
    font-weight:700;
    color:var(--marrom-terciario);
    font-size:14px;

}

.colaboradores__segundo{
    font-weight:600;
    font-size:36px;
    color:var(--preto-titulo);

}


.colaboradores__imagem{


}

.colaboradores__terceiro{
    color: var(--preto-titulo);
    font-weight: 600;
    font-size:16px;
    margin-bottom:10px;
}

.colaboradores__quarto{
    font-size:14px;
    color:var(--cinza_secundario);
    font-weight:500;
    margin-top:0;


}



.rodape {
    text-align: center;
    background-color: #F9FAFB;
    margin-top:6em;
    padding: 6em 6em;
}

.rodape__titulo {
    font-weight: 600;
    font-size: 36px;
    color: var(--preto-titulo);
}

.rodape__texto{
    color:var(--cinza_secundario);
    font-size:20px;
    font-weight:400;
}

.rodape__email {
    border-radius: 10px;
    border-color: #D0D5DD;
    width:25%;
    font-size:16px;
    padding: 1em 1em;
}

.rodape__botao {
    padding: 1em 1em;
    margin-left: 10px;
    width: 9%;
    background-color: var(--marrom-terciario);
    border-radius: 10px;
    color: white;
    border-color: #D0D5DD;
    font-size: 16px;
}

.rodape__copyright {
   color:#98A2B3;
   font-size:16px;
}

.rodape__formulario{
  display:flex;
  justify-content:center;
  margin: 2em auto;

}

